.place__title {
  box-sizing: border-box;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  margin: 0;
}

@media screen and (max-width: 770px) {
  .place__title {
    font-size: 32px;
    line-height: 35px;
  }
}

@media screen and (max-width: 450px) {
  .place__title {
    padding: 0 16px;
  }
}
