@import url(./__title/lead__title.css);
@import url(./__subtitle/lead__subtitle.css);
@import url(./__image-container/lead__image-container.css);
@import url(./__image/lead__image.css);
@import url(./__caption/header__caption.css);

.lead {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 56px;
}

@media (max-width: 1280px) {
  .lead{
    padding-top: 48px;
  }
}
