.cover__subtitle {
  max-width: 360px;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  margin: 0;
  grid-column: 1/-1;
  grid-row: 2/3;
}

@media screen and (max-width: 640px) {
  .cover__subtitle {
    max-width: 288px;
    font-size: 14px;
    line-height: 16px;
  }
}
