@import url(./__title/intro__title.css);
@import url(./__text/intro__text.css);
@import url(./__list/intro__list.css);
@import url(./__list-digits/intro__list-digits.css);

.intro {
  max-width: 1080px;
  margin: 0 auto;
  padding: 0 48px 0;
  box-sizing: border-box;
}

@media (max-width: 770px){
  .intro {
    padding: 0 24px 0;
  }
}

@media (max-width: 450px){
  .intro {
    padding: 0 16px 0;
  }
}
